[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages] 
django = "*"
pillow = "*"
face-recognition = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
black = "*"
djoser = "*"
django-storages = "*"
boto3 = "*"
pytest = "*"
opencv-python = "*"
gunicorn = "*"

[dev-packages]
pycodestyle = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
