{% extends 'base.html' %}

{% block content %}

<div class="text-center mt-5">
    <h1>Face comparison</h1>
    <p class="lead">Upload picture and I will compare all faces on it !</p>
    <p>Made by Valentyn Cherkasov</p>
</div>
<h2 class="text-center mt-5 mb-5 ">Add two pictures</h2>
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div class="form-row d-flex justify-content-between">
        <div class="form-group col-md-5">
            <input class="form-control" name="first_input_url" type="file" placeholder="Select the second class">
        </div>
        <div class="form-group col-md-5">
            <input class="form-control" name="second_input_url" type="file" placeholder="Select the second picture">
        </div>
    </div>
    <div class="mx-auto" style="width: 600px;">
        <button class="btn btn-dark my-4 btn-lg col-md-12" type="submit">Submit</button>
    </div>
</form>
{% endblock %}

