{% extends 'base.html' %}

{% block content %}

<div class="text-center mt-5">
    <h1>Face detection</h1>
    <p class="lead">Upload picture and I will mark all faces on it !</p>
    <p>Made by Valentyn Cherkasov</p>
</div>
<div class="container">
    <h2 class="text-center mt-5 mb-5 ">Add a new picture</h2>
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div>
            <input class="form-control form-control-lg" name="input_url" required_id="id_required_id" type="file">
          </div>
        <button class="btn btn-dark my-4 btn-lg" type="submit">Submit</button>
    </form>
    {% endblock %}

